// Font
body {
	font-family: 'Poppins', sans-serif;
}
// Font

.container {
	// width: 1265px;
	max-width: 1265px;
	margin: 0 auto;
	@include xs {
		width: 100%;
	}
}


// Text Styling
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
// Text Styling

// Section Title
.section-title {
	h2 {
		font-size: $heading;
		position: relative;
		margin-bottom: 30px;
		&:after {
			content: '';
		    position: absolute;
		    left: 0; 
		    bottom: -15px;
		    height: 4px;
		    transition: width .25s;
		    width: 90px;
		}
		&:before {
			content: '';
		    position: absolute;
		    left: 100px; 
		    bottom: -15px;
		    height: 4px;
		    transition: width .25s;
		    width: 20px;
		}
	}
}
// Section Title

// Custom Button
.custom-btn {
	background: $dark;
	border: 2px solid $dark;
	color: $white;
	padding: .375rem 3.75rem;
	transition: all .5s;

	&:hover {
		background: $white;
		color: $dark;
	}
}
// Custom Button


// Visibility Classes
.hidden-xs {

	@include xs {
		display: none !important;
	}

}

.hidden-sm {

	@include sm {
		display: none !important;
	}

}

.hidden-md {

	@include md {
		display: none !important;
	}

}

.hidden-lg {

	@include lg {
		display: none !important;
	}

}

.hidden-xl {

	@include xl {
		display: none !important;
	}

}

.visible-xs {

	@include xs {
		display: block !important;
	}

	@include sm {
		display: none !important;
	}

	@include md {
		display: none !important;
	}

	@include lg {
		display: none !important;
	}

	@include xl {
		display: none !important;
	}

}
// Visibility Classes