// Font
body {
	font-family: 'Poppins', sans-serif;
}
// Font

.container {
	width: 1265px;
	max-width: 1265px;
	margin: 0 auto;
}


// Text Styling
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
// Text Styling