.contact-us {
	padding-top: 60px;
	padding-bottom: 60px;

	.section-title {
    	h2 {
    		color: $dark;
    		&:after {
    			background-color: $dark;
    		}
    		&:before {
    			background-color: $dark;
    		}
    	}
    }

	.section-content {
		padding-top: 30px;

		// Contact Info
		.contact-info {
			background: $dark;
			padding: 25px;
			min-height: 400px;
			max-height: 400px;
			-webkit-box-shadow: 0 5px 25px 0 rgba(5, 5, 5, 0.8);
		    -moz-box-shadow: 0 5px 25px 0 rgba(5, 5, 5, 0.8);
		    -o-box-shadow: 0 5px 25px 0 rgba(5, 5, 5, 0.8);
		    -ms-box-shadow: 0 5px 25px 0 rgba(5, 5, 5, 0.8);
		    box-shadow: 0 5px 25px 0 rgba(5, 5, 5, 0.8);
			border-radius: 8px;

			.contact-info-row {
				padding: 10px 0;
			}

	    	h3 {
				margin-bottom: 15px;
				color: $white;
	    	}

	    	p {
				color: $white;
	    	}

	    	.icon i {
	    		font-size: 30px;
	    		color: $white;
			    text-align: center;
			    display: block;
	    	}

	    	.text {
	    		color: $white;
	    		a {
	    			color: $white;
	    			&:hover {
	    				color: $white;
	    			}
	    		}
	    	}
	    }

	    // Contact Form
	    .contact-form {
			padding: 25px;
			min-height: 400px;
			max-height: 400px;
			-webkit-box-shadow: 0 5px 25px 0 rgba(5, 5, 5, 0.8);
		    -moz-box-shadow: 0 5px 25px 0 rgba(5, 5, 5, 0.8);
		    -o-box-shadow: 0 5px 25px 0 rgba(5, 5, 5, 0.8);
		    -ms-box-shadow: 0 5px 25px 0 rgba(5, 5, 5, 0.8);
		    box-shadow: 0 5px 25px 0 rgba(5, 5, 5, 0.8);
		    border-radius: 8px;

			h3 {
				margin-bottom: 15px;
				color: $dark;
	    	}
	    }

	}
    
}