.content {

	.content-row {
		padding: 60px 0;

		h2 {
			font-size: 60px;
			position: relative;
			margin-bottom: 30px;
			&:after {
				content: '';
			    position: absolute;
			    left: 0; 
			    bottom: -15px;
			    height: 4px;
			    transition: width .25s;
			    width: 90px;
			}
			&:before {
				content: '';
			    position: absolute;
			    left: 100px; 
			    bottom: -15px;
			    height: 4px;
			    transition: width .25s;
			    width: 20px;
			}
		}

		p {
			font-size: 24px;
		}

		img {
			width: 100%;
		}

	}
	
}

.who-we-are {
	// background: linear-gradient(rgba(22, 75, 106, 0.9), rgba(22, 75, 106, 0.9)),url(../images/bg-content-1.jpg);
	// background-size: cover;
	// background-position: center;

	h2 {
		color: $dark;
		&:after {
			background-color: $dark;
		}
		&:before {
			background-color: $dark;
		}
	}

	p {
		color: $dark;
	}
}

.what-we-do {
	background: linear-gradient(rgba(22, 75, 106, 0.9), rgba(22, 75, 106, 0.9)),url(../images/bg-content-2.jpg);
	background-size: cover;
	background-position: center;

	h2 {
		color: $white;
		&:after {
			background-color: $white;
		}
		&:before {
			background-color: $white;
		}
	}

	p {
		color: $white;
	}
}

