.map {
	padding-top: 60px;

	.section-title {
    	h2 {
    		color: $dark;
    		&:after {
    			background-color: $dark;
    		}
    		&:before {
    			background-color: $dark;
    		}
    	}
    }

    .location-on-map {
    	iframe {
    		width: 100%;
    	}
    }

}